.modal {
  &__container {
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;
    padding-top: 200px;
  }

  &__box-one {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__text {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__open-btn {
    background-color: #006aaf;
    padding: 15px 25px;
    border: 2px solid #006aaf;
    color: #fff;
    border-radius: 20px;
  }

  &__close-btn {
    background-color: #006aaf;
    padding: 15px 25px;
    border: 2px solid #006aaf;
    color: #fff;
    border-radius: 20px;
  }

  &__box-two {
    width: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 150px;
    background-color: #fff;
    padding: 50px 30px;
    border: 2px solid #006aaf;
  }

  &__box-two.open {
    display: block;
  }
}
