.home {
  &__container {
    width: 100%;
    margin: 0 auto;
  }

  &__box-one {
    margin: 0;
    padding: 20px 0 20px 20px;
    text-align: left;
    border-bottom: 1px solid #d8d8d8;
    background-image: url(../../images/star.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
  }

  &__title {
    margin: 0;
    padding: 0;
  }

  &__box-two {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #d8d8d8;
  }

  &__textarea {
    max-width: 800px;
    min-width: 800px;
    max-height: 100px;
    min-height: 100px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
  }

  &__textarea::placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    color: #828282;
  }

  &__minibox-two {
    display: flex;
    justify-content: space-between;
  }

  &__list-one {
    display: flex;
    list-style-type: none;
    gap: 20px;
  }

  &__text-btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__text_btn-one {
    background-image: url(../../images/image.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text_btn-two {
    background-image: url(../../images/gif.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text_btn-three {
    background-image: url(../../images/stats.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text_btn-four {
    background-image: url(../../images/smile.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text_btn-fiwe {
    background-image: url(../../images/sendTime.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__send-btn {
    display: block;
    padding: 15px 30px;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    background: #1da1f2;
    opacity: 0.4;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    border: none;
    border-radius: 120px;
    cursor: pointer;
  }

  &__comment-box {
    display: flex;
    align-items: start;
    padding: 30px 0 20px 20px;
  }

  &__comment-minibox div {
    display: flex;
    justify-content: space-between;
  }

  &__comment_text-box {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__comment_text-box p {
    margin: 0;
    padding: 0;
  }
}
