a {
  text-decoration: none;
}

.navbar {
  background-color: rgb(170, 41, 41);
  position: fixed;
  width: 100%;
  z-index: 11;

  &__container {
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__logo {
    color: white;
    font-size: 36px;
    transition: all 0.3s;
  }

  &__logo:hover {
    opacity: 0.7;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
  }

  &__link {
    color: white;
    transition: all 0.3s;
  }

  &__link::after {
    display: block;
    content: "";
    border-bottom: 2px solid #fff;
    transform: scaleX(0);
    transition: all 0.3s;
  }

  &__link:hover::after {
    transform: scaleX(1);
  }

  &__btn {
    background-color: transparent;
    padding: 10px 20px;
    color: white;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
  }

  &__btn:hover {
    background-color: #fff;
    color: rgb(170, 41, 41);
  }

  &__menu-btn {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    &__nav {
      padding-left: 80px;
      padding-top: 30px;
      width: 40%;
      position: fixed;
      flex-direction: column;
      top: 100px;
      background-color: rgb(170, 41, 41);
      right: 0;
      height: 100%;
      align-items: flex-start;
      transform: translateX(100%);
      transition: all 0.4s;
    }

    &__nav.open {
      transform: translateX(0);
    }

    &__list {
      flex-direction: column;
      align-items: flex-start;
    }

    &__menu-btn {
      width: 50px;
      height: 50px;
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    &__btn-img {
      display: block;
      width: 40px;
      height: 40px;
      margin: auto;
    }
  }
}
