.container {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
  margin-top: 50px;
}

.box {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}
.minibox {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 1px solid #000;
}
